{
    # Group name
    'default':
        {
            # Path for all the logs
            'path_logroot': {
                'value': 'log/',
                'tags': ['path']
            },
            # Sub log path for comparing logs
            'path_compare': {
                'value': 'compare/',
                'tags': ['path']
            },
            # Sub log path for pickle files
            'path_pickle': {
                'value': 'pickle/',
                'tags': ['path']
            },
            # Logging identifier (execution timestamp e.g. '2017-07-20-22-27-03')
            # for naming of the log folder
            'identifier': {
                'value': None,
                'tags': []
            },
            # Tag for logging identifier
			# for naming of the log folder
			# e.g. With a tag of 'demo', the log folder name would become '[demo]2017-07-20-22-27-03'
            'tag': {
                'value': None,
                'tags': []
            }
        }
}